body {
    background: #f7fff7;
}

.title-div {
    background-color: #ff6b6b;
    margin-bottom: 140px;
    min-height: 150px;
}

.content-div {
    text-align: center;
    padding: 20px;
    direction: rtl;
}

.restaurant-icon {
    position: relative;
    top: 50%;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 5px #aaa;
    min-height: 180px;
}

.menu_title {
    margin: auto auto 20px;
}

.menu {
    padding: 0px 10px 0px 10px;
    border-right: 2px dashed #ccc;
}

.menu-content {
    font-size: 2ex;
    margin: 2em;
    -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    padding: 10px;
    background: white;
}

.cart {

    margin: auto;
    margin-top: 2em;
    -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    padding: 10px;
    background: white;
}

.cart div {
    margin: auto;
}

.list {
    border: 2px dashed #ccc;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    padding: 2em;
}

.cart-item {
    padding: 1em 0em 0em 0em;
}

.menu div img {
    width: 50%;
    -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
}

.btn-exist {
    background-color: #FFE66D;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
    padding:3px 20px;
}

.btn-exist:active {
    transform: translateY(3px);
}

.btn-not-exist {
    background: #ddd;
    outline: none;
    padding:3px 20px;
}

.btn-not-exist:hover {
    cursor: not-allowed;
}

.right-icon-plus {
    color: gray;
    margin-right: 20px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #4ECDC4;
    border-radius: 1ex;
    color: white;
}

.confirm-btn:hover {
    background-color: aqua;
}

.modal-body-content {
    padding: 1em;
}

.modal-image {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.modal-footer {
    border-top: 2px dashed gray;
}

.myModal {
    border-radius: 2em;
}


.flaticon-minus {
    cursor: pointer;
}