#account {
    margin: 1ex;
    color: #666;
    text-decoration: none;
    font-size: 20px;
}

.main-title-coutainer {
    background-image: url("https://static.snapp-food.com/bundles/bodofoodfrontend/images/newhomepage/d3.jpg");
    background-size: cover;
}

.main-title-coutainer .row {
    padding: 100px;
    padding-bottom: 0px;
    background: rgba(255, 100, 100, .6);
}

.main-title-coutainer .row div {
    padding: 20px;
    font-size: 3ex;
    color: white;
    text-shadow: 0 0 10px black;
}
.logo-img {
    width: 100px;
    box-shadow: 0 0 10px black;
    border-radius: 100px;
}

.search-content {
    position: relative;
    font-size: 10px;
    bottom: -40px;
    border-radius: 5px;
    margin: auto;
    background-color: white;
    height: 80px;
    box-shadow: 0 0 10px #222;
}

.search-content input[type="text"] {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
    display: inline-block;
    width: 35%;
}

.btn-search {
    background-color: #FFE66D;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #aaa;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    width: 27%;
    color: #666;
}

.restaurant-list, .food-party-container{
    padding: 50px 10px 10px 10px;

}

.restaurant-list {
    padding-bottom: 50px;
}

.restaurant-list h2, .food-party-container h2 {
    color: #1A535C;
    border-bottom: 2px solid #1A535C;
}

.restaurant-list img{
    border-radius: 10em;
    width: 70%;
    margin-bottom: 20px;
}

.food-party-list {
    display: inline-block;
    width: 260px;
    background: white;
    /*padding: 5px;*/
    border-radius: 1ex;
    box-shadow: 0 0 5px #aaa;
}

.food-party-list img {
    width: 100%;
    border-radius: 4px;
    margin: 3px;
}

.div-img {
    width: 66%;
}

.div-text {
    padding-top: 2em;
    width: 30%;
}

.old-price {
    width: 48%;
    text-decoration-line: line-through;
    text-decoration-color: red;
    color: gray;
}

.new-price{
    width: 48%;
    color: rgb(77, 77, 77);
}

.existance {
    background-color: #f7fff7;
    border-radius: 1ex;
    border: 1px solid #a7aaa7;
    padding: 2px;
    color: gray;
}

.buy-btn {
    background-color: #4ECDC4;
    border-radius: 1ex;
    color: white;
    border: 1px solid #096790;
}

.buy-btn:hover {
    background-color: aqua;
}



.cant-buy {
    background: rgb(196, 196, 196);
    color: white;
    border: none;
    border-radius: 1ex;
}

.cant-buy:hover {
    cursor: not-allowed;
}

.food-party-fooder {
    padding: 10px 0px;
    margin: auto;
    margin-top: 10px;
    border-top: 2px dashed #aaa;
    width: 90%;
}

.swiper-container {
    width: 100%;
}

.myswiper {
    padding: 10px;
}

.time-shower {
    color: #1A535C;
    border: 1px solid #1A535C;
    background-color: rgb(244, 253, 255);
    border-radius: 4px;
    margin: 10px auto ;
    padding: 10px;
}

.show_more:hover{
    background:#218838;
    color: #f8f8f8;
}