
#user-card {
    background-color: #FF6B6B;
    width: 100%;
    position: relative;
    min-height: 130px;
}



#user-card .username{
    color: white;
    display: flex;
    position: absolute;
    right: 20px;
    top: 35px;
    flex-direction: row;
    font-weight: bold;
    margin-right: 10px;
}

#user-card .username i{
    transform: scale(3);
    margin-right: 40px;
    margin-top: 14px;
}

#user-card .username p{
    font-size: 25px;
}

#user-card .phone{
    display: flex;
    position: absolute;
    top: 5px;
    left: 30px;
    margin-left: 200px;
    color: #FFFFFF;
    padding-top: 20px;
}

#user-card .mail{
    display: flex;
    position: absolute;
    top:60px;
    left: 30px;
    margin-left: 200px;
    color: #FFFFFF;
}

#user-card .credit{
    display: flex;
    position: absolute;
    left: 30px;
    top: 90px;
    margin-left: 200px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
