body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: #F7FFF7;
}


@font-face {
    src: url("../../../public/assets/fonts/vazir-fonts/Vazir.ttf");
    font-family: Vazir;
    font-display: block;
}
*{font-family: Vazir}


.fixed-user-header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index:5;
}



.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.main .main-credit-card{
    width: 80%;
    height: 190px;
    margin: 10px;
    padding:5px;
    background:#FFFFFF;
    border-radius: 40px;
    border-style: solid;
    border-color: #888888;

}

.panels #one-panel input{
    border: 1px solid #bababa;
    background-color: #EAEAEA;
    border-radius: 8px;
    text-align: center;
    outline: none;
}


.panels #one-panel #button {
    /*display: block;*/
    background-color: #43B1AA;
    border-radius: 15px;
    box-shadow: 1px 5px 10px 0px #5e5959;
    color: white;
    cursor: pointer;
    transition: all .2s;
    width: 80%;
    text-align: center;
    text-decoration: none;
}

.panels #one-panel #button:active {
    box-shadow: 1px 1px 10px 0px #5e5959;
    transform: translateY(3px);
}



.warpper{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    margin-top: 300px;
}


.tabs{
    position: absolute;
    top:-50px;
}


.tab{
    cursor: pointer;
    padding: 15px 70px;
    margin:0px -3px;
    background:white;
    display:inline-block;
    color: black;
    border: 2px solid gray;
    margin-top: 30px;
    font-size: 18px;
}

.tabs #one-tab{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right-style: dashed;
    border-right-color: black;

}
.tabs #two-tab{
    border-left-style: dashed;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left-color: black;
}
.panels{
    background:#FFFFFF;
    min-height:200px;
    width:100%;
    max-width:40%;
    overflow:hidden;
    padding: 50px;
    border-radius: 35px;
    border: solid #979797 2px;
    margin-bottom: 100px;
}

.panel{
    /*display:none;*/
    /*animation: fadein .8s;*/
    margin-top: 35px;

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
    font-size:1.5em;
    font-weight:bold
}

/*.radio{*/
/*    display:none;*/
/*}*/


/*#one:checked ~ .panels #one-panel,*/
/*#two:checked ~ .panels #two-panel,*/
/*#three:checked ~ .panels #three-panel{*/
/*    display:block*/
/*}*/

.red-button{
    background:#FF6B6B;
    color:white;
}



.panels #two-panel .row div{
    border: 1px solid gray;
    text-align: center;
    background-color: #FBFBFB;
    padding: 10px;
    margin-bottom: 15px;
}

.panels #one-panel input{
    padding: 20px 30px;
}

.panels #two-panel .row #row_num{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
}

.panels #two-panel .row #status{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0px;
}

.panels #two-panel .row #status .button{
    background-color: #43B1AA;
    border-radius: 8px;
    box-shadow: 1px 5px 10px 0px #5e5959;
    color: black;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
    padding:3px 20px;

}

.panels #two-panel .row #status .button:active {
    box-shadow: 1px 1px 10px 0px #5e5959;
    transform: translateY(3px);
}


.panels #two-panel .row #status  #button1{
    background-color: #CCFFC7;
}
.panels #two-panel .row #status  #button2{
    background-color: #FFE66D;
}
.panels #two-panel .row #status  #button3{
    background-color: #D2FFFC;
}


