
#header{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px 30px;
}

#header .basket{
    position: relative;
}

#header .basket .num_on_basket{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #4ECDC4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

#header #exit{
    color: #F55454;
    font-size: 20px;
    text-decoration: none;

}
#header .flaticon-smart-cart{
    margin-right: auto;
}

#header #logo{
    /*height: 50px;*/
    /*width : 50px;*/
    margin-left: auto;
}
#header #logo img{
    height: 50px;
    width : 50px;
}