footer {
    height: 60px;
    position: absolute;
    top : calc(100% - 60);
    /* z-index: 1050; */
    width: 100%;
    background: #1A535C;
    padding: 20px;
    left: 0;
    bottom: 0;
  }
  
  #footer_body {
    color: white;
  }


